*{
    margin: 0;
    padding: 0;
}
.section{
    position: relative;
    overflow: hidden;
    background: #CCCC99;
    background-image:
            linear-gradient(#ddd .5px, transparent 0),
            linear-gradient(90deg, #ddd .5px, transparent 0),
            linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0);
            linear-gradient(90deg, hsla(0,0%,100%,.3) 1px,transparent 0);
    background-size: 35px 35px,35px 35px;
}
.content a{
    text-decoration: none;
    color: #fff;
}
.content .contact{
    clear: both;
    font-style: italic;
    font-size: 30px;
    margin: 400px 0 0 300px;

}

.section strong {
    position: absolute;
    left: 40%; top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    font-size: 40px;
    font-weight: 500;
    color: #748A9E;
    opacity: 0;
    -webkit-transform:scale(0.5, 0.5);
    transform:scale(0.5, 0.5);
    transition: all 1s;
}
.section h3 {
    position: absolute;
    left: 50%; top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    margin-top: 60px;
    color: #748A9E;
    opacity: 0;
    transition: all 1s;
    transform:rotate(180deg);
}
.p11 {
    position: absolute;
    left: 50%; top: 15%;
    width: 800px;
    margin-left: -300px;
    margin-top: 130px;
    font-family: 楷体;
    font-size: 26px;
    color: #727F8C;
    opacity: 0;
    transform:translate(200px,0);
    transition: all 1s;
}
.section .contact{
    position: absolute;
    left: 45%;
    top: 15%;
    width: 510px;
    margin-left: -240px;
    margin-top: 240px;
    opacity: 0;
    color: #727F8C;
    transition: all 1s;
    transform:translate(0,200px);
}
.active strong, .active h3{
    opacity: 1;
    -webkit-transform:scale(1, 1);
    transform:scale(1, 1);
    transition-delay: 0.7s;
}
.active .p11, .active .contact {
    opacity: 1;
    transform:scale(1, 1);
    transition-delay: 1.7s;
}
